<div class="step_button1"><%=image_tag("step1_button.jpg")%></div>
<div class="step_button1, step_mid"><%=image_tag("step2_button_off.jpg")%></div>
<div class="step_button1"><%=image_tag("step3_button_off.jpg")%></div>