<p id="notice"><%= notice %></p>

<div class="container">
  <div class="body-section">
    <div class="left">
      <%=render 'steps_selector'%>
    </div>
    <div class="right">
      <%=render 'pattern_selector'%>
    </div>
  </div>
</div>