<div class="body-section">
    <div class="left" style="margin-right:50px;">
     	<div class="why_gelpro_elite_left"><%=image_tag("help_me_decide_hero.jpg") %></div>
    </div>
    <div class="right">
    	<div class="why_gelpro_box">
    	 <div class="why_gelpro_hero"><%=image_tag("help_me_decide_bar.jpg") %></div>
         <a href="#"><div class="why_gelpro_hero"><%=image_tag("help_me_decide_video.jpg") %></div></a>
		</div>
    </div>
</div>