<p id="notice"><%= notice %></p>

<div class="container">
  <div class="body-section">
    <div class="left">
      <%=render 'steps_selector_2'%>
    </div>
    <div class="right">
      <div class='product_size'>
        <div class='swatch_button'><%=image_tag("product/swatch/pos_swatch_organic_acorn.jpg")%></div>
        <div class='sizes'>
          <a href='/products'><div class='size_box_2036'><div>20" x 36"<br>$119.95</div></div></a>
          <a href='/products'><div class='size_box_2048'><div>20" x 48"<br>$159.95</div></div></a>
          <a href='/products'><div class='size_box_2072'><div>20" x 72"<br>$239.95</div></div></a>
        </div>
      </div>
    </div>
  </div>
</div>
