<p id="notice"><%= notice %></p>

<div class='body-section'>
  <div class='left' style='margin-right:70px;'>
    <div class='barcode_box'>
      <div class='barcodeimg'><%=image_tag("barcode.jpg")%></div>
      <div class='barcodedetails'>
        <table class='barcodedetails'>
          <tbody>
            <tr>
              <td class='tblf'>Pattern</td>
              <td class='tbrt'>Organic</td> <!-- To be replaced by dynamic code -->
            </tr>
            <tr>
              <td class='tblf'>Color</td>
              <td class='tbrt'>Acorn</td> <!-- To be replaced by dynamic code -->
            </tr>
            <tr>
              <td class='tblf'>Size</td>
              <td class='tbrt'>20" x 36"</td> <!-- To be replaced by dynamic code -->
            </tr>
            <tr>
              <td class='tblf'>Price</td>
              <td class='tbrt'>$119.95</td> <!-- To be replaced by dynamic code -->
            </tr>
          </tbody>
        </table>
      </div>
      <div class='barcodephone'><b><a onclick="TINY.box.show({iframe:'number.html',width:325,height:177})" style='text-decoration: underline; font-weight: bold; cursor: pointer;'>Text this barcode to my phone</a></b><br>To be scanned and checked out</div>
    </div>
    <div class='step_button'><%=image_tag("step3_button_on.jpg")%></div>
  </div>
  <div class='right'>
    <div class='review_hero_box'>
      <a href='/patterns'><div class='review_hero'><%=image_tag("product/hero/elite/pos_elite_organic_acorn.jpg")%></div></a>
    </div>
    <div class='review_hero_text'>GelPro Elite&nbsp;|&nbsp;20" x 36"&nbsp;|&nbsp;Organic&nbsp;|&nbsp;Acorn</div>
  </div>
</div>
