<div class="header">
	<div class="elite_logo"><%= image_tag("help_me_decide_logo.jpg") %></div>
	<div class="product_ask_scan_shop"><%= image_tag("product_ask_scan_shop_box.jpg") %></div>
	<a href="javascript:history.go(-1)" onMouseOver="self.status=document.referrer;return true">
	<div class="back_button"><%= image_tag("product_back.jpg") %></div></a>
</div>